.container {
    width: auto;
    max-width: 90%;
    margin: 0 auto; /* top, bottom: 0px */
    /* border: 2px solid var(--pure); */
}

.btn {
    padding: 8px 30px;
    border: 1px solid transparent;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary {
    color: var(--dark);
    background: var(--pure);
    transition: all .5s ease-in-out;
}

.btn-primary:hover {
    background: transparent;
    color: var(--pure);
    border-color: var(--pure);
}

section.rocket .block .btn-secondary {
    color: var(--pure);
    background: transparent;
    border-color: var(--pure);
 }

section.rocket .block .btn-secondary:hover {
    background: var(--pure);
    color: var(--dark);
 }

section.rocket .block .btn-secondary {
    transition: all .5s ease-in-out;
}